<div class="card">
  <h2>Add a Place</h2>

  <input [(ngModel)]="newPlace.title" name="title" placeholder="Title" required />
  <textarea [(ngModel)]="newPlace.description" name="description" placeholder="Description"></textarea>

  <input [(ngModel)]="newPlace.country" name="country" placeholder="Country" required />
  <input [(ngModel)]="newPlace.city" name="city" placeholder="City" required />

  <label>
    <input type="checkbox" [(ngModel)]="newPlace.is_visited" name="is_visited" />
    Visited
  </label>

  <input type="file" (change)="onFileSelected($event)" />

  <button (click)="addPlace()">Add</button>

  <hr />

  <div *ngIf="places.length > 0" class="places-grid">
    <div *ngFor="let place of placesToShow" class="place-card">
      <img 
        *ngIf="place.image" 
        [src]="place.image.startsWith('http') ? place.image : 'http://127.0.0.1:8000' + place.image" 
        alt="{{ place.title }}" 
      />
      
      <h3>{{ place.title }}</h3>
      <p><strong>Location:</strong> {{ place.city }}, {{ place.country }}</p>
      <p>{{ place.description }}</p>
      <p *ngIf="place.is_visited">Status: <strong>✅ Visited</strong></p>
      <p><strong>Submitted by:</strong> {{ place.username }}</p>
      <p><strong>Submitted on:</strong> {{ place.created_at | date: 'medium' }}</p>


      <button *ngIf="place.user === userId" (click)="removePlace(place.id)">Remove</button>     
    </div>
  </div>

  <div *ngIf="places.length > 3">
    <button *ngIf="!showMore" (click)="showMorePlaces()">Show More</button>
    <button *ngIf="showMore" (click)="showLessPlaces()">Show Less</button>
  </div>
</div>
